<div class="col s6 m6 valign-wrapper">
  <div class="col s6 m3">
    <svg height="50" width="50">
      <circle cx="25" cy="25" r="15" stroke="black" stroke-width="1" fill="#006637" />
    </svg>
  </div>
  <div class="col s6 m9 left-align">
    <h6>Washington State</h6>
  </div>
</div>
<div class="col s6 m6 valign-wrapper">
  <div class="col s6 m3">
    <svg height="50" width="50">
      <circle cx="25" cy="25" r="15" stroke="black" stroke-width="1" fill="#066873" />
    </svg>
  </div>
  <div class="col s6 m9 left-align">
    <h6>{{county}} County</h6>
  </div>
</div>
