<nav>
  <div class="nav-wrapper">
    <span class="nav-logo">TurnOUT</span>
    <ul class="right hide-on-med-and-down">
      <li><a id="home-btn">Home</a></li>
      <li><a id="meet-btn">Meet the Team</a></li>
    </ul>
  </div>
</nav>
