#mapId{
    height: 500px;
   }

.img-responsive{
    width: 300px;
    height: 300px;
}

.title{
 color: green;
}

.nav-logo{
    font-size: 40px;
    padding-left: 10px;
    color: #ee8d1d;
}

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
#lowBtn{
	background-color: red;
}

#medBtn{
	background-color: #fee000;
}

label{
	color:#4f5f66;
	font-size: 30px;
}
#highBtn{
	background-color: green;
}

body{
	background-color: #ee8d1d;
}

#loginBtn{
	background-color: #3bb1d0;
}

#login{
	background-color: #b9bbbe;
	border-style: solid;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

hr{
	background-color:red;
}

.signup{
	background-color: #b9bbbe;
	border-style: solid;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#resultsWhite{
	background-color: white;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#results{
	background-color: #b9bbbe;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#resultsCounty{
	background-color: #b9bbbe;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#scatter-plot{
	background-color: #b9bbbe;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#chart{
	background-color: #f1f1f2;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#about{
	background-color: #b9bbbe;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.nav-wrapper{
	background-color: #4f5f66;
}

#total{
	background-color: #b9bbbe;
}

#men{
	background-color: #b2d9ea;
}

#women{
	background-color: #ffcbd3;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
    left: 35px;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 35px;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 400px;
    width: 350px;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
    padding-left: 80px;
    left: 34px;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    left: 34px;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
    left: 34px;
}
