<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/> <!--this is leaflet css -->
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin=""></script> <!--leaflet js (needs to be after leaflet css) -->
  <!-- <link rel="stylesheet" href="../leaflet/style.css"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- <script src='app.js'></script> -->
  <!-- mapbox below -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

  <title>fuck you fucking bitch fucker mother fuck</title>
</head>
  <body>

  <div id="mapId"></div>


<style>#mapId{
  height: 500px;
 }

body{
  background-color: red;

  
}</style>

    <!-- <div class='container'> -->
    <!-- <h1><%= title %></h1>
      <%= new Date() %>

      <ul>
        <% for (var i = 0; i < items.length; i++){ %>
            <li><%= items[i].desc %></li>
        <% } %>
      </ul> -->
      <!-- <form action="/add" method='post'>
        <input type="text" name='userSearch'>
        <input type="submit">
      </form> -->

    <script>
    var mymap = L.map('mapId').setView([37.0902, -95.7129], 5);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoieWplb25nMTkiLCJhIjoiY2piNTdteWdwMzdpNTMzbzloNW41amY1dSJ9.bZJN4ceMtDY7GA6d-h23ow'
      }).addTo(mymap);
    
      var polygon = L.polygon([
      // [51.509, -0.08],
      [51.503, -0.06],
      [51.51, -0.0047]
      //polygon needs 3 coordinates
    ]).addTo(mymap);

    // marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    polygon.bindPopup("I am a polygon.");

    var counties = new L.geoJson();
    counties.addTo(mymap);

    $.ajax({
    dataType: "json",
    url: "./data/counties.json",
    success: function(data) {
        $(data.features).each(function(key, data) {
            counties.addData(data);
        });
    }
    })

//     L.geoJson(counties).addTo(mymap);
//     circle.bindPopup("I am a circle.");

//     function onMapClick(e) {
//       alert("You clicked the map at " + e.latlng);
//   }
  
//   var info = L.control();
  
//   info.onAdd = function (map) {
//       this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
//       this.update();
//       return this._div;
//   };
  
//   // method that we will use to update the control based on feature properties passed
//   info.update = function (props) {
//       this._div.innerHTML = '<h4>US Population Density</h4>' +  (props ?
//           '<b>' + props.name + '</b><br />' + props.density + ' people / mi<sup>2</sup>'
//           : 'Hover over a state');
//   };
  
//   info.addTo(map);

//   function highlightFeature(e) {
//     ...
//     info.update(layer.feature.properties);
// }

// function resetHighlight(e) {
//     ...
//     info.update();
// }

    </script>

</body>
</html>
